.container--grid {
  grid-column: 2 / span 10
}

.results__table, .count__button {
  display: none;
}

.section__dimensions {
  grid-column: 3 / span 8;
}

.inputs {
  justify-content: space-between;
}

.inputs__wrapper {
  padding: 0 10px;
}

tr.preferred>td:nth-child(2):after {
  content: "\2705";
  margin-left: .5em;
}

.calculator {
  max-height: 5em;
  background: #f5f5f5;
  position: sticky;
  bottom: 0em;

  overflow-y: hidden;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.calculator.closed {
  max-height: 0;
}

.calculator__text {
  margin: 10px 0;
  padding: 0;
}

.count {
  width: 5em !important;
}
