#dimensions .form-group {
  margin-bottom: 0px;
}

h1.page-title {
  font-size: 4rem;
}

tr.preferred>td:nth-child(2):after {
  content: "\2705";
  margin-left: .5em;
}

.logo {
  font-family: 'Audiowide', cursive;
  font-size: 5rem;
}

.calculator {
  max-height: 5em;
  background: #f5f5f5;
  position: sticky;
  bottom: 0em;

  overflow-y: hidden;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.calculator.closed {
  max-height: 0;
}

.count {
  width: 5em !important;
}
